.main {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__title {
        text-align: center;
        font-size: 60px;
        color: rgb(132, 0, 255);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__sub-title {
        font-size: 40px;
    }

    &__link {
        font-size: 25px;
    }

    &__link,
    &__sub-title,
    &__title {
        transition: all 0.5s linear 0s;
    }

    &__item a {
        color: rgb(8, 122, 253);
    }

    @media(min-height:1024px) {
        &__title {
            font-size: 100px;

        }

        &__sub-title {
            font-size: 60px;
        }

        &__link{
            font-size: 40px;
        }
    }

    @media(max-width:480px) {
        &__link{
            font-size: 32px;
        }
    }

    @media(max-width:360px) {
        &__title {
            font-size: 80px;
        }

        &__sub-title {
            font-size: 40px;
        }

        &__link{
            font-size: 25px;
        }
    }
}